<!DOCTYPE html>
html(lang="pt-BR" ng-app="options")

head
    title TR - SUPPORT TOOL
    
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/options.css" rel="stylesheet")

    script(src="js/firebase.js")
    script(src="js/pmlogger.js")
    script(src="js/angular.min.js")


body
    div.container-fluid(ng-controller="MainController as main")
        div.container.row
            form(action="#")
                div.option-panel
                    h3.title 
                        |Login WCC
                        span.icon.glyphicon.glyphicon-question-sign

                    div.body
                        div.form-group
                            label(for="loginWcc") Login
                            input(type="text" class="form-control" id="loginWcc" placeholder="Login")
                        div.form-group
                            label(for="passWcc") Senha
                            input(type="password" class="form-control" id="passWcc" placeholder="Senha")

                div.option-panel
                    h3.title 
                        |Login WCC
                        span.icon.glyphicon.glyphicon-question-sign

                    div.body
                        div.form-group
                            label(for="loginWcc") Login
                            input(type="text" class="form-control" id="loginWcc" placeholder="Login")
                        div.form-group
                            label(for="passWcc") Senha
                            input(type="password" class="form-control" id="passWcc" placeholder="Senha")

                div.option-panel
                    h3.title 
                        |Login WCC
                        span.icon.glyphicon.glyphicon-question-sign

                    div.body
                        div.form-group
                            label(for="loginWcc") Login
                            input(type="text" class="form-control" id="loginWcc" placeholder="Login")
                        div.form-group
                            label(for="passWcc") Senha
                            input(type="password" class="form-control" id="passWcc" placeholder="Senha")

    div.container-scripts
        script( src="js/options.js")