<!DOCTYPE html>
html(lang="pt-BR" ng-app="options")

head
    title OPTIONS | TR - SUPPORT TOOLS
    
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/options.css" rel="stylesheet")

    script(src="js/firebase.js")
    script(src="js/pmlogger.js")
    script(src="js/angular.min.js")
    script(src="js/angular-ui-router.min.js")

body
    div.container-fluid
        header.header-container.row
            div.inner-container.clearfix
                h2.abbreviation TR
                div.logo-container
                    img(src="icons/icon_32x32.png")                
                h2.title OPTIONS

        modules-container
           
                          

    div.container-scripts
        script( src="js/options.js")