.header-container {
  padding: 15px;
  background: darkorange; }
  .header-container .inner-container {
    width: 240px;
    margin: 0 auto; }
    .header-container .inner-container .abbreviation {
      float: left;
      width: 50px;
      margin: 0px;
      color: #fff; }
    .header-container .inner-container .logo-container {
      float: left;
      width: 32px; }
    .header-container .inner-container .title {
      float: left;
      width: 100px;
      padding-left: 10px;
      margin: 0;
      color: #fff; }

.modules-container {
  border-top: 3px solid #000; }

.module-panel {
  border: 3px solid #000;
  border-top: none;
  background: darkorange; }
  .module-panel .header {
    padding: 15px; }
