div.module-panel.col-sm-4.col-md-3(ng-transclude)
    div.header.row
        div.inner
            div.logo-container
                img(ng-src="{{model.config.icon}}")
            h2.module-title {{model.config.name}}
        div.help-container
            i.glyphicon.glyphicon-question-sign    
    div.body
        form(id="{{model.config.name}}")
            div.component-container(ng-repeat="component in model.config.components track by $index")
                h3.component-title {{component.title}}
                div.form-group(ng-repeat="element in component.formElements track by $index")
                    label(for="element.id") {{element.label}}
                    input.form-control(id="{{element.id}}" name="{{element.id}}" type="{{element.type}}"  placeholder="{{element.placeholder}}")            